<div class="px-5 flex flex-col gap-12 py-20">
  <div class="text-center flex flex-col gap-4">
    <h4 class="font-semibold text-2xl text-gray-700">Clipboard for iOS and MacOS</h4>
    <p class="text-gray-500 text-sm">Available for free on the App Store. Download for Mac or iOS, sync with iCloud
      and you’re ready to start adding to your clipboard.</p>
  </div>
  <div class="text-center font-semibold text-white flex flex-col gap-4">
    <button class="bg-teal-600 rounded-full px-5 py-2 border-b-teal-700 border-b-4">Download for iOS</button>
    <button class="bg-blue-600 rounded-full px-5 py-2 border-blue-700 border-b-4">Download for Mac</button>
  </div>
</div>
